<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>1</key>
		<string>[/微笑]</string>
		<key>10</key>
		<string>[/担心]</string>
		<key>11</key>
		<string>[/亲亲]</string>
		<key>12</key>
		<string>[/愤怒]</string>
		<key>13</key>
		<string>[/OK]</string>
		<key>14</key>
		<string>[/坏笑]</string>
		<key>15</key>
		<string>[/害羞]</string>
		<key>16</key>
		<string>[/鬼脸]</string>
		<key>17</key>
		<string>[/失望]</string>
		<key>18</key>
		<string>[/挖鼻孔]</string>
		<key>19</key>
		<string>[/惊讶]</string>
		<key>2</key>
		<string>[/大笑]</string>
		<key>20</key>
		<string>[/鼓掌]</string>
		<key>21</key>
		<string>[/无聊]</string>
		<key>22</key>
		<string>[/鄙视]</string>
		<key>23</key>
		<string>[/拥抱]</string>
		<key>24</key>
		<string>[/拍砖]</string>
		<key>25</key>
		<string>[/纠结]</string>
		<key>26</key>
		<string>[/晕]</string>
		<key>27</key>
		<string>[/囧]</string>
		<key>28</key>
		<string>[/睡觉]</string>
		<key>29</key>
		<string>[/胜利]</string>
		<key>3</key>
		<string>[/尴尬]</string>
		<key>30</key>
		<string>[/强]</string>
		<key>31</key>
		<string>[/汗]</string>
		<key>32</key>
		<string>[/白眼]</string>
		<key>33</key>
		<string>[/呆子]</string>
		<key>34</key>
		<string>[/流泪]</string>
		<key>35</key>
		<string>[/痛恨]</string>
		<key>36</key>
		<string>[/痛扁]</string>
		<key>37</key>
		<string>[/切]</string>
		<key>38</key>
		<string>[/忐忑]</string>
		<key>39</key>
		<string>[/赞同]</string>
		<key>4</key>
		<string>[/窃喜]</string>
		<key>40</key>
		<string>[/思考]</string>
		<key>41</key>
		<string>[/给力]</string>
		<key>42</key>
		<string>[/赞]</string>
		<key>43</key>
		<string>[/得意]</string>
		<key>44</key>
		<string>[/再见]</string>
		<key>45</key>
		<string>[/闭嘴]</string>
		<key>46</key>
		<string>[/嘘]</string>
		<key>47</key>
		<string>[/生病]</string>
		<key>48</key>
		<string>[/菜刀]</string>
		<key>49</key>
		<string>[/惊恐]</string>
		<key>5</key>
		<string>[/眨眼]</string>
		<key>50</key>
		<string>[/抓狂]</string>
		<key>51</key>
		<string>[/天真]</string>
		<key>52</key>
		<string>[/吃饭]</string>
		<key>53</key>
		<string>[/困惑]</string>
		<key>54</key>
		<string>[/恶魔]</string>
		<key>55</key>
		<string>[/天使]</string>
		<key>56</key>
		<string>[/灵感]</string>
		<key>57</key>
		<string>[/吐]</string>
		<key>58</key>
		<string>[/顶]</string>
		<key>59</key>
		<string>[/Hold]</string>
		<key>6</key>
		<string>[/疑问]</string>
		<key>60</key>
		<string>[/示爱]</string>
		<key>61</key>
		<string>[/爱心]</string>
		<key>62</key>
		<string>[/玫瑰]</string>
		<key>63</key>
		<string>[/凋谢]</string>
		<key>64</key>
		<string>[/弱]</string>
		<key>65</key>
		<string>[/萌猫]</string>
		<key>66</key>
		<string>[/便便]</string>
		<key>67</key>
		<string>[/钱]</string>
		<key>68</key>
		<string>[/心碎]</string>
		<key>69</key>
		<string>[/蛋糕]</string>
		<key>7</key>
		<string>[/悲伤]</string>
		<key>70</key>
		<string>[/猪头]</string>
		<key>71</key>
		<string>[/棒棒糖]</string>
		<key>72</key>
		<string>[/看电视]</string>
		<key>73</key>
		<string>[/足球]</string>
		<key>74</key>
		<string>[/骷髅]</string>
		<key>75</key>
		<string>[/咖啡]</string>
		<key>76</key>
		<string>[/礼物]</string>
		<key>8</key>
		<string>[/喷血]</string>
		<key>9</key>
		<string>[/桃心]</string>
	</dict>
	<dict>
		<key>[/Hold]</key>
		<string>Hold.png</string>
		<key>[/OK]</key>
		<string>OK.png</string>
		<key>[/亲亲]</key>
		<string>亲亲.png</string>
		<key>[/便便]</key>
		<string>便便.png</string>
		<key>[/再见]</key>
		<string>再见.png</string>
		<key>[/凋谢]</key>
		<string>凋谢.png</string>
		<key>[/切]</key>
		<string>切.png</string>
		<key>[/吃饭]</key>
		<string>吃饭.png</string>
		<key>[/吐]</key>
		<string>吐.png</string>
		<key>[/呆子]</key>
		<string>呆子.png</string>
		<key>[/咖啡]</key>
		<string>咖啡.png</string>
		<key>[/喷血]</key>
		<string>喷血.png</string>
		<key>[/嘘]</key>
		<string>嘘.png</string>
		<key>[/囧]</key>
		<string>囧.png</string>
		<key>[/困惑]</key>
		<string>困惑.png</string>
		<key>[/坏笑]</key>
		<string>坏笑.png</string>
		<key>[/大笑]</key>
		<string>大笑.png</string>
		<key>[/天使]</key>
		<string>天使.png</string>
		<key>[/天真]</key>
		<string>天真.png</string>
		<key>[/失望]</key>
		<string>失望.png</string>
		<key>[/害羞]</key>
		<string>害羞.png</string>
		<key>[/尴尬]</key>
		<string>尴尬.png</string>
		<key>[/弱]</key>
		<string>弱.png</string>
		<key>[/强]</key>
		<string>强.png</string>
		<key>[/得意]</key>
		<string>得意.png</string>
		<key>[/微笑]</key>
		<string>微笑.png</string>
		<key>[/心碎]</key>
		<string>心碎.png</string>
		<key>[/忐忑]</key>
		<string>忐忑.png</string>
		<key>[/思考]</key>
		<string>思考.png</string>
		<key>[/恶魔]</key>
		<string>恶魔.png</string>
		<key>[/悲伤]</key>
		<string>悲伤.png</string>
		<key>[/惊恐]</key>
		<string>惊恐.png</string>
		<key>[/惊讶]</key>
		<string>惊讶.png</string>
		<key>[/愤怒]</key>
		<string>愤怒.png</string>
		<key>[/抓狂]</key>
		<string>抓狂.png</string>
		<key>[/担心]</key>
		<string>担心.png</string>
		<key>[/拍砖]</key>
		<string>拍砖.png</string>
		<key>[/拥抱]</key>
		<string>拥抱.png</string>
		<key>[/挖鼻孔]</key>
		<string>挖鼻孔.png</string>
		<key>[/无聊]</key>
		<string>无聊.png</string>
		<key>[/晕]</key>
		<string>晕.png</string>
		<key>[/桃心]</key>
		<string>桃心.png</string>
		<key>[/棒棒糖]</key>
		<string>棒棒糖.png</string>
		<key>[/汗]</key>
		<string>汗.png</string>
		<key>[/流泪]</key>
		<string>流泪.png</string>
		<key>[/灵感]</key>
		<string>灵感.png</string>
		<key>[/爱心]</key>
		<string>爱心.png</string>
		<key>[/猪头]</key>
		<string>猪头.png</string>
		<key>[/玫瑰]</key>
		<string>玫瑰.png</string>
		<key>[/生病]</key>
		<string>生病.png</string>
		<key>[/疑问]</key>
		<string>疑问.png</string>
		<key>[/痛恨]</key>
		<string>痛恨.png</string>
		<key>[/痛扁]</key>
		<string>痛扁.png</string>
		<key>[/白眼]</key>
		<string>白眼.png</string>
		<key>[/看电视]</key>
		<string>看电视.png</string>
		<key>[/眨眼]</key>
		<string>眨眼.png</string>
		<key>[/睡觉]</key>
		<string>睡觉.png</string>
		<key>[/示爱]</key>
		<string>示爱.png</string>
		<key>[/礼物]</key>
		<string>礼物.png</string>
		<key>[/窃喜]</key>
		<string>窃喜.png</string>
		<key>[/纠结]</key>
		<string>纠结.png</string>
		<key>[/给力]</key>
		<string>给力.png</string>
		<key>[/胜利]</key>
		<string>胜利.png</string>
		<key>[/菜刀]</key>
		<string>菜刀.png</string>
		<key>[/萌猫]</key>
		<string>萌猫.png</string>
		<key>[/蛋糕]</key>
		<string>蛋糕.png</string>
		<key>[/赞]</key>
		<string>赞.png</string>
		<key>[/赞同]</key>
		<string>赞同.png</string>
		<key>[/足球]</key>
		<string>足球.png</string>
		<key>[/鄙视]</key>
		<string>鄙视.png</string>
		<key>[/钱]</key>
		<string>钱.png</string>
		<key>[/闭嘴]</key>
		<string>闭嘴.png</string>
		<key>[/顶]</key>
		<string>顶.png</string>
		<key>[/骷髅]</key>
		<string>骷髅.png</string>
		<key>[/鬼脸]</key>
		<string>鬼脸.png</string>
		<key>[/鼓掌]</key>
		<string>鼓掌.png</string>
	</dict>
	<dict>
		<key>[/Hold]</key>
		<string>50C21263D186AB6B9E269DF444067344</string>
		<key>[/OK]</key>
		<string>34FF00E926282E7C61F8360E1AC78BE0</string>
		<key>[/亲亲]</key>
		<string>D38A6F3A3E6A340F8168490F6DACDCD6</string>
		<key>[/便便]</key>
		<string>B481AD3090D02C8869FE6C25A9BCBF0D</string>
		<key>[/再见]</key>
		<string>4611EF384D63A0E996ECB372773DF05A</string>
		<key>[/凋谢]</key>
		<string>3A714DD6FE774098DB168107B612A9A3</string>
		<key>[/切]</key>
		<string>417BCFB15D3885351F9C1924F717E0AF</string>
		<key>[/吃饭]</key>
		<string>FE3999E7707212C325875395B8C88088</string>
		<key>[/吐]</key>
		<string>A1E6079BD8A6D350C5CC5DAFA9B7A0EA</string>
		<key>[/呆子]</key>
		<string>6E351339FD769D923B13600E537F21D4</string>
		<key>[/咖啡]</key>
		<string>FB5CB1B9FF581B5D89DE55BEC92B8F25</string>
		<key>[/喷血]</key>
		<string>0E78048FECBC350E457093B75F8DC897</string>
		<key>[/嘘]</key>
		<string>27B7533ADC66B0B1D6092866104C22EF</string>
		<key>[/囧]</key>
		<string>340FCC695F6EA2B835C001EED739BBB6</string>
		<key>[/困惑]</key>
		<string>A1BD670BFF003C01FDF343440641B226</string>
		<key>[/坏笑]</key>
		<string>8EDD9D587A766476B0CE64BC85850005</string>
		<key>[/大笑]</key>
		<string>B0F1BC9F790792B79231E6F20523FF37</string>
		<key>[/天使]</key>
		<string>8CE6C6C0EEC8AA6540EE1BDCB8497F19</string>
		<key>[/天真]</key>
		<string>346EB6BC9BC9D6435414704BE2971D25</string>
		<key>[/失望]</key>
		<string>940386687A7C99949A5C65A05661E91E</string>
		<key>[/害羞]</key>
		<string>2BE2797778549403A43D782635532E03</string>
		<key>[/尴尬]</key>
		<string>7D69DE5F23B12D759BEEFF429EDA33E4</string>
		<key>[/弱]</key>
		<string>BFB2D8E19C0ABA7153A7A9835738DF7A</string>
		<key>[/强]</key>
		<string>58EB4C0583734B6789C36240EBF8CD7C</string>
		<key>[/得意]</key>
		<string>2267AB5A5E2BE0A80C8C15223F049C69</string>
		<key>[/微笑]</key>
		<string>6EB4F02FA042B4C46D16AE64DFD4A4F4</string>
		<key>[/心碎]</key>
		<string>5FCA74881FC473CEFC318E6C07D9D5C7</string>
		<key>[/忐忑]</key>
		<string>825A177252F7E13B95BD53AA34DB35F2</string>
		<key>[/思考]</key>
		<string>E07E869DA3F210F0F2B89179ADE230FE</string>
		<key>[/恶魔]</key>
		<string>3169C6289EFB56A5064532CCE78DB820</string>
		<key>[/悲伤]</key>
		<string>54461531D7F27586684C730A01B4E9FC</string>
		<key>[/惊恐]</key>
		<string>F5BEA5B82ECD481780BEA0BB1C268362</string>
		<key>[/惊讶]</key>
		<string>F80EE425C4817663FE3CAF5DA3316645</string>
		<key>[/愤怒]</key>
		<string>36272005F6B496588308B0125C91785E</string>
		<key>[/抓狂]</key>
		<string>42CE1E7C08CF0C06308B0ED5DCFB0556</string>
		<key>[/担心]</key>
		<string>C0A1976BEDC19BAE336D13F9B67E9FF9</string>
		<key>[/拍砖]</key>
		<string>D34C16E358276BD2F7617A9EF0BA5182</string>
		<key>[/拥抱]</key>
		<string>8161FAF17EB3E65D788B077EAF4CDB3E</string>
		<key>[/挖鼻孔]</key>
		<string>B95A8223230121BA8A9E4D228FF90E82</string>
		<key>[/无聊]</key>
		<string>24F5085B0E6741F22E7853750B2673C8</string>
		<key>[/晕]</key>
		<string>A317CC27F689EFBB5B4662746CCC8B7A</string>
		<key>[/桃心]</key>
		<string>66868D75F2F49282729B4AB5EEAC4724</string>
		<key>[/棒棒糖]</key>
		<string>6D629FB69C432C85C0706C8E40EEC4C8</string>
		<key>[/汗]</key>
		<string>D672DE00BE80F7A68A6427C90F442017</string>
		<key>[/流泪]</key>
		<string>24961959463FCF6FE986AD3FA6EE64D6</string>
		<key>[/灵感]</key>
		<string>CFD815339BFA87665715B1595760A510</string>
		<key>[/爱心]</key>
		<string>B45703DF91A40513CFBEB8E73ACA3FA6</string>
		<key>[/猪头]</key>
		<string>3724D880A658C9FFEC090518118CB20F</string>
		<key>[/玫瑰]</key>
		<string>52F18E1989F9BA1CC647051E7B8317DF</string>
		<key>[/生病]</key>
		<string>9BFE77ADA27CF9EEBA4A324E877F66A5</string>
		<key>[/疑问]</key>
		<string>0734845E6BD0760EA258109B28E11FF0</string>
		<key>[/痛恨]</key>
		<string>4BA4059D8D34CBA2CF0072B688B8D38D</string>
		<key>[/痛扁]</key>
		<string>5F5B6A825A30C5E483F5BF4BFC4D81E7</string>
		<key>[/白眼]</key>
		<string>C4CD701183C2292161041633314CDEC8</string>
		<key>[/看电视]</key>
		<string>0B3D6E7B307039D7FF3DE3B151362189</string>
		<key>[/眨眼]</key>
		<string>D6305C62C149B8295BBA54E4695C9E1E</string>
		<key>[/睡觉]</key>
		<string>53B98B7F762D75CE6FBE7572BCB3233C</string>
		<key>[/示爱]</key>
		<string>B219E79E1DEFF2EF0FAABC86EE2FCA83</string>
		<key>[/礼物]</key>
		<string>2D82592B1F636ED8D5BA1DE711CB9BA0</string>
		<key>[/窃喜]</key>
		<string>D4FC82D630B7B0BDEE1D3F59DDBBFDE2</string>
		<key>[/纠结]</key>
		<string>9A43359CE8CFB06EA416740FC6678D89</string>
		<key>[/给力]</key>
		<string>62F98BCAE37E392D25C5B0C8E02D25D4</string>
		<key>[/胜利]</key>
		<string>97548776CA035306B6894F9736F0C0BB</string>
		<key>[/菜刀]</key>
		<string>640DEFA21CD005568B404934490BE307</string>
		<key>[/萌猫]</key>
		<string>E122D3A84FBE9FD078CD9F4A112A8CCE</string>
		<key>[/蛋糕]</key>
		<string>44920B7FEDB8A3D956E063DE66CE1E86</string>
		<key>[/赞]</key>
		<string>C3CE05519D56B14B941C6068C8C8226F</string>
		<key>[/赞同]</key>
		<string>76E6E97860EAA102BD5FCBA1DFD3EFE5</string>
		<key>[/足球]</key>
		<string>71B977E10BBBCDC00359AE92ABA0223F</string>
		<key>[/鄙视]</key>
		<string>48316730CE76F87AEFCABA2ED2BE76B5</string>
		<key>[/钱]</key>
		<string>FF7E807F1E701133E470F630C81DF009</string>
		<key>[/闭嘴]</key>
		<string>BDF36EE1D1741E619F6A580741FE6517</string>
		<key>[/顶]</key>
		<string>3E5832776E4FD74BB5BBFD17478ACBA6</string>
		<key>[/骷髅]</key>
		<string>9F6EA1D9588C6C950E96B4C4F64AB36C</string>
		<key>[/鬼脸]</key>
		<string>324519D40558F11FD84E156FCC872AAA</string>
		<key>[/鼓掌]</key>
		<string>D0BB1228F9EF675C72A123BCB296FDBA</string>
	</dict>
	<dict>
		<key>0734845E6BD0760EA258109B28E11FF0</key>
		<string>[/疑问]</string>
		<key>0B3D6E7B307039D7FF3DE3B151362189</key>
		<string>[/看电视]</string>
		<key>0E78048FECBC350E457093B75F8DC897</key>
		<string>[/喷血]</string>
		<key>2267AB5A5E2BE0A80C8C15223F049C69</key>
		<string>[/得意]</string>
		<key>24961959463FCF6FE986AD3FA6EE64D6</key>
		<string>[/流泪]</string>
		<key>24F5085B0E6741F22E7853750B2673C8</key>
		<string>[/无聊]</string>
		<key>27B7533ADC66B0B1D6092866104C22EF</key>
		<string>[/嘘]</string>
		<key>2BE2797778549403A43D782635532E03</key>
		<string>[/害羞]</string>
		<key>2D82592B1F636ED8D5BA1DE711CB9BA0</key>
		<string>[/礼物]</string>
		<key>3169C6289EFB56A5064532CCE78DB820</key>
		<string>[/恶魔]</string>
		<key>324519D40558F11FD84E156FCC872AAA</key>
		<string>[/鬼脸]</string>
		<key>340FCC695F6EA2B835C001EED739BBB6</key>
		<string>[/囧]</string>
		<key>346EB6BC9BC9D6435414704BE2971D25</key>
		<string>[/天真]</string>
		<key>34FF00E926282E7C61F8360E1AC78BE0</key>
		<string>[/OK]</string>
		<key>36272005F6B496588308B0125C91785E</key>
		<string>[/愤怒]</string>
		<key>3724D880A658C9FFEC090518118CB20F</key>
		<string>[/猪头]</string>
		<key>3A714DD6FE774098DB168107B612A9A3</key>
		<string>[/凋谢]</string>
		<key>3E5832776E4FD74BB5BBFD17478ACBA6</key>
		<string>[/顶]</string>
		<key>417BCFB15D3885351F9C1924F717E0AF</key>
		<string>[/切]</string>
		<key>42CE1E7C08CF0C06308B0ED5DCFB0556</key>
		<string>[/抓狂]</string>
		<key>44920B7FEDB8A3D956E063DE66CE1E86</key>
		<string>[/蛋糕]</string>
		<key>4611EF384D63A0E996ECB372773DF05A</key>
		<string>[/再见]</string>
		<key>48316730CE76F87AEFCABA2ED2BE76B5</key>
		<string>[/鄙视]</string>
		<key>4BA4059D8D34CBA2CF0072B688B8D38D</key>
		<string>[/痛恨]</string>
		<key>50C21263D186AB6B9E269DF444067344</key>
		<string>[/Hold]</string>
		<key>52F18E1989F9BA1CC647051E7B8317DF</key>
		<string>[/玫瑰]</string>
		<key>53B98B7F762D75CE6FBE7572BCB3233C</key>
		<string>[/睡觉]</string>
		<key>54461531D7F27586684C730A01B4E9FC</key>
		<string>[/悲伤]</string>
		<key>58EB4C0583734B6789C36240EBF8CD7C</key>
		<string>[/强]</string>
		<key>5F5B6A825A30C5E483F5BF4BFC4D81E7</key>
		<string>[/痛扁]</string>
		<key>5FCA74881FC473CEFC318E6C07D9D5C7</key>
		<string>[/心碎]</string>
		<key>62F98BCAE37E392D25C5B0C8E02D25D4</key>
		<string>[/给力]</string>
		<key>640DEFA21CD005568B404934490BE307</key>
		<string>[/菜刀]</string>
		<key>66868D75F2F49282729B4AB5EEAC4724</key>
		<string>[/桃心]</string>
		<key>6D629FB69C432C85C0706C8E40EEC4C8</key>
		<string>[/棒棒糖]</string>
		<key>6E351339FD769D923B13600E537F21D4</key>
		<string>[/呆子]</string>
		<key>6EB4F02FA042B4C46D16AE64DFD4A4F4</key>
		<string>[/微笑]</string>
		<key>71B977E10BBBCDC00359AE92ABA0223F</key>
		<string>[/足球]</string>
		<key>76E6E97860EAA102BD5FCBA1DFD3EFE5</key>
		<string>[/赞同]</string>
		<key>7D69DE5F23B12D759BEEFF429EDA33E4</key>
		<string>[/尴尬]</string>
		<key>8161FAF17EB3E65D788B077EAF4CDB3E</key>
		<string>[/拥抱]</string>
		<key>825A177252F7E13B95BD53AA34DB35F2</key>
		<string>[/忐忑]</string>
		<key>8CE6C6C0EEC8AA6540EE1BDCB8497F19</key>
		<string>[/天使]</string>
		<key>8EDD9D587A766476B0CE64BC85850005</key>
		<string>[/坏笑]</string>
		<key>940386687A7C99949A5C65A05661E91E</key>
		<string>[/失望]</string>
		<key>97548776CA035306B6894F9736F0C0BB</key>
		<string>[/胜利]</string>
		<key>9A43359CE8CFB06EA416740FC6678D89</key>
		<string>[/纠结]</string>
		<key>9BFE77ADA27CF9EEBA4A324E877F66A5</key>
		<string>[/生病]</string>
		<key>9F6EA1D9588C6C950E96B4C4F64AB36C</key>
		<string>[/骷髅]</string>
		<key>A1BD670BFF003C01FDF343440641B226</key>
		<string>[/困惑]</string>
		<key>A1E6079BD8A6D350C5CC5DAFA9B7A0EA</key>
		<string>[/吐]</string>
		<key>A317CC27F689EFBB5B4662746CCC8B7A</key>
		<string>[/晕]</string>
		<key>B0F1BC9F790792B79231E6F20523FF37</key>
		<string>[/大笑]</string>
		<key>B219E79E1DEFF2EF0FAABC86EE2FCA83</key>
		<string>[/示爱]</string>
		<key>B45703DF91A40513CFBEB8E73ACA3FA6</key>
		<string>[/爱心]</string>
		<key>B481AD3090D02C8869FE6C25A9BCBF0D</key>
		<string>[/便便]</string>
		<key>B95A8223230121BA8A9E4D228FF90E82</key>
		<string>[/挖鼻孔]</string>
		<key>BDF36EE1D1741E619F6A580741FE6517</key>
		<string>[/闭嘴]</string>
		<key>BFB2D8E19C0ABA7153A7A9835738DF7A</key>
		<string>[/弱]</string>
		<key>C0A1976BEDC19BAE336D13F9B67E9FF9</key>
		<string>[/担心]</string>
		<key>C3CE05519D56B14B941C6068C8C8226F</key>
		<string>[/赞]</string>
		<key>C4CD701183C2292161041633314CDEC8</key>
		<string>[/白眼]</string>
		<key>CFD815339BFA87665715B1595760A510</key>
		<string>[/灵感]</string>
		<key>D0BB1228F9EF675C72A123BCB296FDBA</key>
		<string>[/鼓掌]</string>
		<key>D34C16E358276BD2F7617A9EF0BA5182</key>
		<string>[/拍砖]</string>
		<key>D38A6F3A3E6A340F8168490F6DACDCD6</key>
		<string>[/亲亲]</string>
		<key>D4FC82D630B7B0BDEE1D3F59DDBBFDE2</key>
		<string>[/窃喜]</string>
		<key>D6305C62C149B8295BBA54E4695C9E1E</key>
		<string>[/眨眼]</string>
		<key>D672DE00BE80F7A68A6427C90F442017</key>
		<string>[/汗]</string>
		<key>E07E869DA3F210F0F2B89179ADE230FE</key>
		<string>[/思考]</string>
		<key>E122D3A84FBE9FD078CD9F4A112A8CCE</key>
		<string>[/萌猫]</string>
		<key>F5BEA5B82ECD481780BEA0BB1C268362</key>
		<string>[/惊恐]</string>
		<key>F80EE425C4817663FE3CAF5DA3316645</key>
		<string>[/惊讶]</string>
		<key>FB5CB1B9FF581B5D89DE55BEC92B8F25</key>
		<string>[/咖啡]</string>
		<key>FE3999E7707212C325875395B8C88088</key>
		<string>[/吃饭]</string>
		<key>FF7E807F1E701133E470F630C81DF009</key>
		<string>[/钱]</string>
	</dict>
</array>
</plist>
